@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  font-size: 16px;
  height: 600px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 400px;
}

#root {
  height: 100%;
  width: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: AlphaLyrae;
  src: url('AlphaLyrae-Medium.woff2') format("woff2"), url('AlphaLyrae-Medium.woff') format("woff"), url('AlphaLyrae-Medium.ttf') format("truetype"), url('AlphaLyrae-Medium.eot') format("embedded-opentype"), url('AlphaLyrae-Medium.otf') format("opentype");
}
